body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f1f1f1;
}

header {
  background-color: #1f1f1f;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

nav a {
  margin: 10px;
  color: #6300d4;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 80px 20px;
  min-height: 100vh;
}

h2 {
  color: #6300d4;
}

ul {
  list-style: square;
}

form {
  max-width: 400px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #6300d4;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #591 766;
}
.foto {
  display: block;
  margin: 20px auto;
  width: 220px;
  border-radius: 10%;
  border: 3px solid #501766;
}

